<br><br><br>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
<footer id="dk-footer" class="dk-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="dk-footer-box-info">
                        <a href="index.html" class="footer-logo">
                            <i class="fa fa-arrow-up" style="color: #FFFFFF;"></i>
                        </a>
                        <p class="footer-info-text">
                            Único hotel de 5 estrellas en Santiago de los Caballeros.
                        </p>
                        <div class="footer-social-link">
                            <h3>Follow us</h3>
                            <ul>
                                <li>
                                    <a href="https://es-la.facebook.com/hodelpahotels/" target="blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/hodelpahotels" target="blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.hodelpa.com/gran-almirante" target="blank">
                                        <i class="fa fa-home"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/hodelpahotels/?hl=es" target="blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/c/HodelpaHotels/videos" target="blank">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Social Media-->
                    </div>
                    <!-- End Footer info -->
                    <div class="footer-awarad">
                        <p>Hotel Hodelpa Gran Almirante</p>
                    </div>
                </div>
                <!-- End Col -->
                <div class="col-md-12 col-lg-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="contact-us">
                                <div class="contact-icon">
                                    <a href="https://www.google.com/maps/d/embed?mid=1bcwVEuDUhr46TlHMBst6LrxPhb4&msa=0&ie=UTF8&t=m&z=14&output=embed&ll=19.465474000000015%2C-70.686926" target="blank"><i class="fa fa-map-o" aria-hidden="true"></i></a>
                                </div>
                                <!-- End contact Icon -->
                                <div class="contact-info">
                                    <h3>Santiago de los Caballeros</h3>
                                    <p>Av. Estrella Sadhala

                                    </p>
                                </div>
                                <!-- End Contact Info -->
                            </div>
                            <!-- End Contact Us -->
                        </div>
                        <!-- End Col -->
                        <div class="col-md-6">
                            <div class="contact-us contact-us-last">
                                <div class="contact-icon">
                                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                </div>
                                <!-- End contact Icon -->
                                <div class="contact-info">
                                    <h3>809-580-1992</h3>
                                    <p>¡Llama ya!</p>
                                </div>
                                <!-- End Contact Info -->
                            </div>
                            <!-- End Contact Us -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Contact Row -->
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="footer-widget footer-left-widget">
                                <div class="section-heading">
                                    <h3>Contact Us</h3>
                                    <span class="animate-border border-black"></span>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#">Whatsapp</a>
                                    </li>
                                    <li>
                                        <a href="#">Hotel</a>
                                    </li>
                                    <li>
                                        <a href="#">Reservas</a>
                                    </li>
                                    <li>
                                        <a href="#">Check-In</a>
                                    </li>
                                    <li>
                                        <a href="#">Check-Out</a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <a href="#">809-664-7000</a>
                                    </li>
                                    <li>
                                        <a href="#">809-580-1992</a>
                                    </li>
                                    <li>
                                        <a href="#">809-583-6666</a>
                                    </li>
                                    <li>
                                        <a href="#">4:00 P.M.</a>
                                    </li>
                                    <li>
                                        <a href="#">12:00 P.M.</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Footer Widget -->
                        </div>
                        <!-- End col -->
                        <div class="col-md-12 col-lg-6">
                            <div class="footer-widget">
                                <div class="section-heading">
                                    <h3>rivas e la para</h3>
                                    <span class="animate-border border-black"></span>
                                </div>
                                <p style="color: #fff;">
                                bueno, enmanuel e el final para quien sea que lea esto</p>
                                <form action="#">
                                    <div class="form-row">
                                        <div class="col dk-footer-form">
                                            <input type="email" class="form-control" placeholder="Email Address rivas worship center">
                                            <button type="submit">
                                                <i class="fa fa-send"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <!-- End form -->
                            </div>
                            <!-- End footer -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->
                </div>
                <!-- End Col -->
            </div>
        </div>
        <!-- End Contact  -->


        <div class="lebron">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span>lebron james = goat</span>
                    </div>
                    <!-- End Col -->
                    <div class="col-md-6">
                        <div class="lebron-menu">
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">yns que va aqui</a>
                                </li>
                                <li>
                                    <a href="#">ni aqui</a>
                                </li>
                                <li>
                                    <a href="#">menos aqui</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End col -->
                </div>
                <!-- End Row -->
            </div>
        </div>
        <!-- Back to top -->
        <div id="back-to-top" class="back-to-top">
            <button class="btn btn-dark" title="Back to Top" style="display: block;" id="Main">
                <i class="fa fa-angle-up"></i>
            </button>
        </div>