

<h1 class="
title"> ¡Haz tu reservación ahora!</h1>
<div class="splitcreen">
    <div class="left" include="form-input-select()">
        <select id="selection" required>
        
       
        <option value=""
                hidden
        >Escoge el tipo de Habitacion</option>
    
    
        <option value="1">Ejecutiva Estándar - 2 personas</option>
        <option value="2">Ejecutiva Superior - 2 personas, 1 niño pequeño</option>
        <option value="3">Ejecutiva Superior Dos Camas - 4 personas</option>
        <option value="4">Club Imperial - 3 personas 1 niño pequeño</option>
        <option value="5">Club Imperial Dos Camas - 4 personas</option>
        </select>
    </div>
    <div class="right" include="form-input-select()">
        <select required>
       
        <option value=""
                hidden
        >Con cuantas personas vienes?</option>
    
    
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        
        </select>
    </div>
    <button onclick='alert("Madamos la solicitud para su reservacion")' class="button"> Reserva</button>

  

</div>
  
