<app-navigationbar></app-navigationbar>
<div>

   <app-combo1></app-combo1> 
</div>
<app-carousel></app-carousel>
<!----Hodelpa Gran Almirante: Address, Schedule Telephone------>
<!--por alguna razon esto hace que todo se vea mas pequeno????
    
    <app-date-picker></app-date-picker>
-->
<br><br><br><br><br><br>
<div style="padding-bottom: 200px;">
<h1 class="huh">Hodelpa Gran Almirante</h1>
<br>
<p style="text-align: center; font-weight: bold; font-size: 20px; padding-top: 10px; margin-bottom: 0;">Ubicado en una de las avenidas más imponentes de Santiago de los Caballeros. Rodeado de los más exclusivos y modernos restaurantes, bares, teatros y centros comerciales.
    Durante su estancia podrá disfrutar de nuestra exquisita gastronomía, piscina, casino, gimnasio, WIFI gratuito y nuestro Club Imperial. Disponemos de salones para sus eventos con una capacidad máxima de 800 personas.
</p>
</div>
<app-half-div>
</app-half-div>
<app-footer></app-footer>



  
